<!-- Navigation -->
<nav class="site-header">
  <div class="row">
  	<div class="medium-6 columns">
      <div class="site-header__logo">
        <a href="/">
          <img src="/assets/images/civic-workbench-logo--80.png"/>
        </a>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="site-header__links">
        <ul>
<!--           <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li> -->
        </ul>
      </div>
    </div>
  <div>
</nav>